.bg_image
{
	background: url(food2.jpg);
	background-size: cover;
	height: 100vh;
	position: relative;
	font-family: 'Bellota', cursive;
	

}

.head
{
	text-align: center;
}

.wrapper
{
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);


}

.fsection
{
	text-align: center;
}

.fsection .isection
{
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-radius: 2rem;
	padding: .6rem;
	border: none;
	outline: none;
	/*border-radius: 10px 10px 10px 10px;*/
	/*padding: 10px;*/
	
}
.fsection button
{
	width: 50%;
	margin-top: 10px;
	border: none;
	outline: none;
	background-color: #00bab1;
	color: white;
	border-radius: 2rem;
	padding: .6rem;
}



.product_item1
{
	margin-top: 10px;
	float: left;	
	margin-left: 100px;
}

.product_item2
{
	margin-top: 10px;
	margin-left: 150px;
	float: left;
}

.product_item3
{
	margin-top: 20px;
	margin-left: 80px;
}

.product
{
	text-align: center;
	font-family: 'Bellota', cursive;
	
}


